@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*------------ COLORS ---------------*/

  /* primary color 500 Base */
  --primary-color: #2a73f1;

  /* Primary 800 HeaderText */
  --header-text-color: #1a014c;

  /* Primary 900 Body Text */
  --body-text-color: #090019;

  /* Primary 400 links */
  --link-text-color: var(--primary-color);

  /* primary gradient */
  --primary-gradient-color: linear-gradient(
    116.24deg,
    #3498db 1.99%,
    #008ce9 83.19%
  );

  /* primary light gradient used for dark background*/
  --primary-light-gradient-color: #3498db;

  /* Basic White */
  --primary-white: #ffffff;

  /* Basic Grey */
  --primary-basic-grey: #c2c9d1;
  --primary-secondary-grey: #e5e5ea;

  /* Success */
  --success-color: #35BB6F;

  /* Warning */
  --warning-color: #ffba30;

  /* Error */
  --error-color: #ff2146;
  /*link hover color*/
  --link-hover: #3498db;
  /*layer color* PRIMARY 100T*/
  --light-layer: #3996d49b;

  /*------------ TYPOGRAPHY ---------------*/

  /* Header */
  --Header-font-family: "Poppins", sans-serif;

  /*Body */
  --Body-font-family: "Roboto", sans-serif;

  /*------------ FONTS ---------------*/

  /* Header LG */
  --header-lg: 48px;

  /* Header MD */
  --header-md: 40px;

  /* Header SM */
  --header-sm: 32px;

  /* Header XS */
  --header-xs: 26px;

  /* Body Regular XL */
  --body-xl: 24px;

  /* Body Regular XL */
  --body-lg: 20px;

  /* Body Regular XL */
  --body-md: 16px;

  /* Body Regular XL */
  --body-sm: 14px;

  /* Body Regular XL */
  --body-xs: 12px;

  /* Header Weight */
  --header-weight: 700;

  /* Body Regular Weight */
  --body-regular-weight: 400;

  /* Body medibold Weight */
  --body-medium-bold-weight: 600;
  /* Body Semibold Weight */
  --body-semi-bold-weight: 500;
  /* Body Bold Weight */
  --body-bold-weight: 700;
}

/* css for drawer use on collapse nav bar ( from rsuite) */
.rs-drawer-body {
  position: relative;
  height: 100%;
  overflow: auto;
}

.navlinks {
  line-height: 130%;
  height: 50px !important;
  min-width: 100px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--header-text-color);
  padding: 0px !important;
}

.navlinksdesktop {
  color: var(--primary-white);
}
.nav-link {
  padding: 0px !important;
}

.navlinks:hover {
  text-decoration: none;
  color: #f4bf00;
  transition: 0.2s;
  opacity: 85%;
}
.navlinks:active {
  text-decoration: none;
  color: #f4bf00;
  transition: 0.2s;
  opacity: 85%;
}
.navlinks:focus {
  text-decoration: none;
  color: #f4bf00;
  transition: 0.2s;
  opacity: 85%;
}

.navbar > .container-fluid {
  max-width: 1110px;
  margin: 0 auto;
}

.quotelinks {
  background-color: var(--primary-white);
  color: var(--primary-color);
  height: 34px;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: var(--body-sm);
  font-family: var(--Body-font-family);
  font-weight: var(--body-semi-bold-weight);
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quotelinks:hover,
.quotelinks:active,
.quotelinks:focus {
  text-decoration: none;
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
  background-color: var(--primarry-color);
  text-decoration: none;
}
.quotecollinks {
  background-color: var(--success-color);
  color: var(--primary-white);
  border: 2px solid var(--success-color);
}
.quotecollinks:hover,
.quotecollinks:active,
.quotecollinks:focus {
  text-decoration: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  background-color: var(--primarry-white);
  text-decoration: none;
}
.quotecollinks2:hover,
.quotecollinks2:active,
.quotecollinks2:focus {
  text-decoration: none;
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
  background-color: var(--primarry-color);
  text-decoration: none;
}
.linkbutton {
  padding: 24px 16px;
}

.quote {
  width: 100%;
  padding: 24px 16px;
  margin-top: 24px;
 
}

.quotemargin{
  margin: 0 auto;
}

 @media only screen and (min-width: 1024px) {
    .quote {
      width: 396px;
    }
  }

  .phonecall{
    color: #000;
    height: 100%;
    width: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phonecall:active{
    color: var(--primary-white);
    text-decoration: none;
  }
  .phonecall:hover{
    color: var(--primary-white);
    text-decoration: none;
  }

  .buttonsubmit:hover{
    background-color: var(--primary-color);
  }

  .oselect{
    /* border: 1px solid red !important; */
    height: 100px !important;
  }

  .sociallink{
    color: #f4bf00;

  }
  .sociallink:hover{
    color: #f4bf00;
    
  }

  .selectdiv{
    /* display: flex;
    flex-direction: column;
    margin-top: 20px; */
    /* border: 1px solid red;
    display: flex;
    flex-direction: column; */

  }

  .marg-label{
    margin-top:10px ;
  }

